[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
joblib = "*"
jupyter = "*"
xgboost = "*"
imblearn = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.12"
